.profileContainer {
    color: white;
    text-align: center;
}

.profileTitle {
    font-size: 60px;
    color: white;
    opacity: 0.8;
    padding: 30px;
}

.userInfoContainer {
    opacity: 0.8;
    font-weight: 500;
    font-size: 20px;
    margin-top: 50px;
}
